<a href="https://colab.research.google.com/github/tasyasvdh09/UAS_BIGDATA/blob/main/Implementasi_Spark_SQL_Kelompok_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Ujian Akhir Semester (UAS) - BIG DATA**

**Kelompok 6**
1. Annisa Mutiara
2. Sindy Alvina Khoiriyah
3. Tasya Sevia Adha

### **Implementasi Spark SQL**

In [3]:
# import folder yang ada di drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Install Apache Spark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=e51498e542dc1b200c67b90f42ff84c8f4b180db5c3da48c5b3b1d327d9403ee
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [5]:
# Import SparkSession
from pyspark.sql import SparkSession

In [6]:
# Inisialisasi SparkSession
spark = SparkSession.builder \
    .appName("Implementasi Spark SQL") \
    .getOrCreate()

In [7]:
# Membaca data dari file CSV
df = spark.read.csv("/content/drive/MyDrive/BIG DATA/UAS/data dummy bigdata.csv", header=True, inferSchema=True)

In [8]:
# Menampilkan schema dari DataFrame
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- ethnicity: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- email: string (nullable = true)
 |-- major: string (nullable = true)
 |-- gpa: double (nullable = true)
 |-- university: string (nullable = true)

In [11]:
# Menampilkan 15 baris pertama dari DataFrame
df.show(15)

+---+----------+----------+---+--------+----------------+----------+--------------------+-----------+--------------+------------+--------------------+----------------+----+--------------------+
| id|first_name| last_name|age|  gender|       ethnicity| birthdate|             address|       city|       country|phone_number|               email|           major| gpa|          university|
+---+----------+----------+---+--------+----------------+----------+--------------------+-----------+--------------+------------+--------------------+----------------+----+--------------------+
|  1|    Shandy|    Lorait| 27|  Female|      Melanesian| 9/12/1975|03 Green Ridge Point| Washington| United States|202-160-7386|      slorait0@51.la|     Engineering|1.76|Hamilton Technica...|
|  2|     Norma|Meneghelli| 51|  Female|            Cree| 8/22/1967|    58 Onsgard Court|    Milanów|        Poland|126-241-0283|nmeneghelli1@blog...|      Psychology|2.41|University of Warsaw|
|  3|  Chauncey|    Ivatts| 62|    Male|Central American|  1/9/1999|   959 Fuller Center|   Pęczniew|        Poland|120-159-4158|civatts2@blogline...|         Biology| 2.1|Medical Academy ...|
|  4|   Barnabe|    Loades| 81|    Male|      Indonesian| 7/14/1976|268 Eastlawn Parkway|   Porecatu|        Brazil|102-532-1426|  bloades3@google.fr|     Engineering|2.94|Centro Universitá...|
|  5|   Kirsten|     Aggio| 45|  Female| Native Hawaiian|11/11/1962|     66116 Union Way|Padangtikar|     Indonesia|307-834-1979|     kaggio4@nyu.edu|     Engineering|1.19|Universitas Bunda...|
|  6|       Yul|   MacGill| 75|Bigender|     Argentinian|  2/9/1991|   83 Di Loreto Lane|      Jinli|         China|472-956-5329|      ymacgill5@g.co|      Psychology|2.12|Northeast Univers...|
|  7| Theresina|  Luebbert| 71|  Female|          Navajo| 7/30/1961|        14 Duke Lane| Fiorentino|    San Marino|103-519-9881|tluebbert6@topsy.com|     Engineering|3.97|University of San...|
|  8|   Hillier|   Cubbino| 93|    Male|             Ute|12/12/1962| 982 Londonderry Way|   Sionogan|   Philippines|454-111-7536|    hcubbino7@va.gov|     Engineering| 2.0|Holy Angel Univer...|
|  9|   Micaela|    Collin| 71|  Female|           Sioux| 8/25/1967| 6611 Maywood Street|       Ta`ū|American Samoa|860-265-5430|mcollin8@domainma...|         Biology|3.02|Buddhist Acamedy ...|
| 10|  Herminia|   Nisbith| 93|  Female|        Filipino|  4/6/1979|   616 Hallows Alley|  Guadalupe|        Mexico|658-584-4540|hnisbith9@wordpre...|      Psychology|1.49|Universidad Valle...|
| 11|     Hewie|      Pogg| 88|    Male|Central American| 3/28/1957|   87 Spohn Junction|     Mbigou|         Gabon|430-614-2986|hpogga@squarespac...|         Biology|2.89|Université Omar B...|
| 12|      Drew|    Basten| 45|    Male|            Crow| 7/13/1957| 0 Crest Line Street| El Quetzal|     Guatemala|263-198-2718|dbastenb@eventbri...|        Business|0.87| Universidad Galileo|
| 13|      Aime|  Reidshaw| 62|  Female|      Salvadoran|10/31/1969|   70 Beilfuss Court|  Ranchuelo|          Cuba|788-320-5668|areidshawc@mozill...|         Biology|3.66|Instituto Superio...|
| 14|       Wyn|  Vasyukov| 94|    Male|      Potawatomi|  7/4/1988|  88 Manitowish Lane|   Kasembon|     Indonesia|205-327-7530|    wvasyukovd@is.gd|Computer Science|2.95|Stie Perbanas Sur...|
| 15|  Reinwald|  Boissier| 48|    Male|      Ecuadorian| 5/18/1999|   387 Waxwing Place| La Francia|     Argentina|873-759-1875|  rboissiere@tiny.cc|     Engineering|1.78|Instituto Univers...|
+---+----------+----------+---+--------+----------------+----------+--------------------+-----------+--------------+------------+--------------------+----------------+----+--------------------+
only showing top 15 rows

In [12]:
# Menjalankan query menggunakan Spark SQL
df.createOrReplaceTempView("data")

In [13]:
# Query 1: Menampilkan jumlah data per jurusan
query1 = "SELECT major, COUNT(*) AS count FROM data GROUP BY major"
result1 = spark.sql(query1)
result1.show()

+----------------+-----+
|           major|count|
+----------------+-----+
|     Engineering|    8|
|      Psychology|    8|
|        Business|    3|
|Computer Science|    4|
|         Biology|    7|
+----------------+-----+

In [14]:
# Query 2: Menampilkan usia yang kurang dari 45 tahun
query2 = "SELECT * FROM data WHERE age < 45"
result2 = spark.sql(query2)
result2.show()

+---+----------+---------+---+------+--------------------+----------+--------------------+-----------+-------------+------------+--------------------+-----------+----+--------------------+
| id|first_name|last_name|age|gender|           ethnicity| birthdate|             address|       city|      country|phone_number|               email|      major| gpa|          university|
+---+----------+---------+---+------+--------------------+----------+--------------------+-----------+-------------+------------+--------------------+-----------+----+--------------------+
|  1|    Shandy|   Lorait| 27|Female|          Melanesian| 9/12/1975|03 Green Ridge Point| Washington|United States|202-160-7386|      slorait0@51.la|Engineering|1.76|Hamilton Technica...|
| 16|   Lynette|    Dayce| 43|Female|              Apache|  4/4/1976|       97 Dixon Lane|     Murcia|        Spain|707-562-1915|   ldaycef@tmall.com|    Biology| 0.8|Universitat Obert...|
| 17|      Otha|    Stoke| 41|Female|Latin American In...| 11/6/1955|   07682 Moland Road|   Malikisi|        Kenya|840-949-9752|ostokeg@shinystat...| Psychology|0.58|United States Int...|
| 18|    Floria|     Okie| 24|Female|  Alaskan Athabascan| 8/19/1968|    3 Red Cloud Hill|Canavieiras|       Brazil|411-860-7059|fokieh@kickstarte...|Engineering|0.37|Universidade São ...|
| 19|    Merwyn| Weildish| 27|  Male|    Central American|12/24/1994|    849 Morrow Court|      Luoqi|        China|619-863-3914|mweildishi@virgin...| Psychology|3.63|Fujian Normal Uni...|
+---+----------+---------+---+------+--------------------+----------+--------------------+-----------+-------------+------------+--------------------+-----------+----+--------------------+

In [15]:
# Query 3: Menampilkan rata-rata usia
query3 = "SELECT AVG(age) AS average_age FROM data"
result3 = spark.sql(query3)
result3.show()

+-----------------+
|      average_age|
+-----------------+
|66.13333333333334|
+-----------------+

In [16]:
# Query 4: Menampilkan jumlah data per negara
query4 = "SELECT country, COUNT(*) AS count FROM data GROUP BY country"
result4 = spark.sql(query4)
result4.show()

+--------------+-----+
|       country|count|
+--------------+-----+
|        Sweden|    1|
|   Philippines|    4|
|        France|    1|
|     Argentina|    1|
|    San Marino|    1|
|    Madagascar|    1|
| United States|    1|
|         China|    5|
|American Samoa|    1|
|         Gabon|    1|
|         Spain|    1|
|          Cuba|    1|
|        Mexico|    1|
|     Indonesia|    3|
|     Guatemala|    1|
|      Honduras|    1|
|        Brazil|    2|
|         Kenya|    1|
|        Poland|    2|
+--------------+-----+

In [22]:
# Query 5: Menampilkan IPK dengan nilai tertinggi per Jurusan
query5 = "SELECT major, MAX(gpa) AS max_gpa FROM data GROUP BY major"
result5 = spark.sql(query5)
result5.show()

+----------------+-------+
|           major|max_gpa|
+----------------+-------+
|     Engineering|   3.97|
|      Psychology|   3.95|
|        Business|   3.88|
|Computer Science|   3.46|
|         Biology|   3.66|
+----------------+-------+

In [26]:
# Perbaikan Query 5: Menampilkan data nama, jurusan, ipk, dan universitas dengan nilai tertinggi per jurusan
query5 = "SELECT first_name, last_name, major, gpa, university FROM (SELECT first_name, last_name, major, gpa, university, ROW_NUMBER() OVER (PARTITION BY major ORDER BY gpa DESC) AS rank FROM data) ranked WHERE rank = 1"
result5 = spark.sql(query5)
result5.show()

+----------+---------+----------------+----+--------------------+
|first_name|last_name|           major| gpa|          university|
+----------+---------+----------------+----+--------------------+
|      Aime| Reidshaw|         Biology|3.66|Instituto Superio...|
|    Ashlie|Molineaux|        Business|3.88|    Växjö University|
|    Fergus|   Meneer|Computer Science|3.46|University of Per...|
| Theresina| Luebbert|     Engineering|3.97|University of San...|
|     Suzie|St. Clair|      Psychology|3.95|Ecole Nationale S...|
+----------+---------+----------------+----+--------------------+